*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

/*Menu*/

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #2c2c2c;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    width: 100%;
    background-color:#2c2c2c;/*333333;*/
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
}

#home:hover,#discord:hover,#shop:hover,#stock:hover,#lore:hover{
    border-top: 5px solid cyan;
    background-color: darkcyan;
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

/* offres */

.parent{
    text-decoration: none;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 20px solid white;
}
.child{
    float: center;
    width: 300px;
    padding: 50px 60px 70px;
    background: #2c2c2c; /*2c2c2c;191919*/
    text-align: center;
}
.child h1{
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.child input{
    background: none;
    margin: 20px auto;
    width: 220px;
}
.child input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid cyan;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
}
.child a{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    border: 2px solid royalblue;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    opacity: 1;
}
.child a:hover{
    opacity: 1;
    border-color: skyblue;
}

.child input:hover{
    border-color: cyan;
}

/* Footer */

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
