*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Menu*/

nav ul{
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #2c2c2c;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
    background-color:#2c2c2c;/*333333;*/
}

#home:hover,#discord:hover,#shop:hover,#stock:hover{
    border-top: 5px solid cyan;
    background-color: darkcyan;
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

/* Texte */

text {
    position: relative;
    border-top: 1px dashed #000;
    width: 100%;
    background: white;
}
.text-contenu {
    width: 1200px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

.text-payment h3,
.text-receive h3,
.text-os h3 {
    font-size: 25px;
    padding-bottom: 20px;
    color: black;
}

.text-payment p {
    padding: 2px 0;
    color: black;
}

.text-receive p {
    padding: 2px 0;
    color: black;
}

.text-os p {
    padding: 5px 0;
    color: black;
}

/* Footer */

footer {
    flex-shrink: 0;
    width: 100%;
    background: #2c2c2c;
    position: fixed;
    background: #2c2c2c;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* Copyright */

.license-copyright {
    list-style-type: none;
}
.license-copyright li {
    padding: 2px 0;
}
.license-copyright a {
    text-decoration: none;
    color: white;
}
.license-copyright a:hover {
    color: grey;
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-copyright h3 {
    font-size: 25px;
    padding-bottom: 20px;
    color: grey;
}

.footer-contact p {
    padding: 5px 0;
    color: white;
}

/* Services */

.liste-services {
    list-style-type: none;
}
.liste-services li {
    padding: 2px 0;
}
.liste-services a {
    text-decoration: none;
    color: white;
}
.liste-services a:hover {
    color: grey;
}
