*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    backdoor-color: #FFF;
}

/*Menu*/

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #2c2c2c;
}

#lore{
    float: right;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    width: 100%;
    background-color:#2c2c2c;/*333333;*/
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
}

#home:hover,#discord:hover,#shop:hover,#stock:hover,#lore:hover{
    border-top: 5px solid cyan;
    background-color: darkcyan;
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

/* offres */

.parent{
    text-decoration: none;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 20px solid #FFF;
}
.child{
    float: center;
    width: 300px;
    padding: 50px 60px 70px;
    background: #2c2c2c; /*2c2c2c;191919*/
    text-align: center;
}
.child h1{
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.child input{
    background: none;
    margin: 20px auto;
    width: 220px;
}
.child input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid cyan;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
}
.child a{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    border: 2px solid royalblue;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    opacity: 1;
}
.child a:hover{
    opacity: 1;
    background: royalblue;
    border-color: skyblue;
}

.child input:hover{
    border-color: cyan;
}

/* Footer */

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #2c2c2c;
    color: #333;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* copyright */

.copyright-footer a{
    text-decoration: none;
    color: gray;
}

.copyright-footer a:hover{
    color: darkgrey;
}

/* contact */

.footer-contact h3,
.footer-services h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/* Services */

.liste-services {
    list-style-type: none;
}
.liste-services li {
    padding: 2px 0;
}
.liste-services a {
    text-decoration: none;
    color: #333;
}
.liste-services a:hover {
    color: rgb(3,3,3);
}
