*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Menu*/

nav ul{
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #2c2c2c;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
    background-color:#2c2c2c;/*333333;*/
}

#home:hover,#discord:hover,#shop:hover,#stock:hover{
    border-top: 5px solid cyan;
    background-color: darkcyan;
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

/* Texte */

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 50px;
}
header h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
header p {
  font-size: 22px;
}
main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  /* min-height: calc(100vh - 211px - 58px); */
}
article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
article:last-child {
  margin-bottom: 0;
}
article h3 {
  margin: 10px 0 25px 0;
}
article p {
  margin-top: 16px;
  line-height: 24px;
}

/* Footer */

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}

@media(max-width:768px) {
  header { padding: 30px 20px; }
  header h1 { font-size: 36px; margin-bottom: 22px; }
  header p { font-size: 18px; }
  main { width: 100vw; padding: 20px; }
  article { margin-bottom: 16px; font-size: 14px; }
  article h3 { margin: 10px 0 20px 0; }
  article p { margin-top: 16px; line-height: 20px; }
}
