*{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

/*Menu*/

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #2c2c2c;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    width: 100%;
    background-color:#2c2c2c;/*333333;*/
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
}

#home:hover,#discord:hover,#shop:hover,#stock:hover,#lore:hover{
    border-top: 5px solid cyan;
    background-color: darkcyan;
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

/* Texte */

.text {
    flex-shrink: 0;
    width: 100%;
    backgroud: purple;
}
.text-contenu {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

.text-payment h3,
.text-receive h3,
.text-os h3 {
    font-size: 25px;
    padding-bottom: 20px;
    color: black;
}

.text-payment p {
    padding: 2px 0;
    color: black;
}

.text-receive p {
    padding: 2px 0;
    color: black;
}

.text-os p {
    padding: 5px 0;
    color: black;
}

/* Footer */

.footer {
    width: 100vw;
    display: block;
    background: #2c2c2c;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%
}
